enclave/trusted/*
!enclave/trusted/.gitkeep
enclave/untrusted/*
!enclave/untrusted/.gitkeep
enclave/out/*
!enclave/out/.gitkeep
enclave/bin/*
!enclave/bin/.gitkeep
enclave/enclave.token

proto/out/*
!proto/out/.gitkeep

app/out/*
!app/out/.gitkeep
app/bin/*
!app/bin/.gitkeep
